@page
@model MSSQLServerMonitoring.WebApp.Pages.Alerts.AlertsModel
@{
    ViewData["Title"] = "List alert";
}
<h2>@ViewData["Title"]</h2>


<form method="post">
    Start Date : <input class="form-control col-3"
                        type="datetime-local"
                        data-val="true"
                        asp-for="StartDate"
                        value="2021-01-23T06:42:55.806">
    End Date : <input class="form-control col-3"
                        type="datetime-local"
                        data-val="true"
                        asp-for="EndDate"
                        value="2021-01-23T06:42:55.806">

    <input type="submit" value="Submit" class="btn btn-success mt-3" />
    <a asp-page="./Alerts">Get All alerts</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Alerts[0].Id)
                </th>
                <th>
                    <a asp-page-handler="GroupAlerts" asp-route-sortOrder="@Model.DateSort">
                        @Html.DisplayNameFor(model => model.Alerts[0].TimeStamp)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alerts[0].AttachActivityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alerts[0].Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alerts[0].SqlText)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Alerts)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttachActivityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SqlText)
                </td>

            </tr>
                }
        </tbody>
    </table>
</form>





@*<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Query-id</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Alerts)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.TimeStamp</td>
            <td>@item.AttachActivityId</td>
            <td>@item.Message</td>
            <td>@item.Status</td>
        </tr>
        }
    </tbody>
</table>*@
